<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inköpslista</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-green.min.css" />
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link rel="stylesheet" href="/css/startsida.css" type="text/css"/>
</head>
<body>
<div class="container">
  <header>
    <h3>Inköpslista !</h3>
    <button class="menybutton"> <img src="img/meny_button1.png"/>
    </button>
  </header>
  <main>

  </main>
  <footer>
    <button class="buttons mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      <h4> save </h4>
    <button class="buttons mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      <h4> print </h4>
  </footer>
</div>



</body>
</html>